*{
    box-sizing: border-box;
}
body{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0;
    background: url("https://sportshub.cbsistatic.com/i/2021/03/18/484084d5-0e58-47b9-a3b8-a3ebf84061f8/one-piece-buggy-seven-warlords-system-ends-cliffhanger-reverie-w-1252276.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(7px);
}
main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 317px;
    height: 699px;
    z-index: 2;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.my-face{
    width: 317px;
    height: 317px;
    border-radius: 10px 10px 0px 0px;
}
.name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.container--position{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12.8px;
    line-height: 15px;
    text-align: center;
    margin-top: 0;
    color: #F3BF99;
    margin-bottom: 5px;
}
.container--link{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* identical to box height, or 15px */
    text-decoration: none;
    text-align: center;
    color: #F5F5F5;
}
.email{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    /* white */
    background: #FFFFFF;
    /* gray/300 */
    border: 1px solid rgba(0, 0, 0, 0.0);
    /* shadow/sm */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-right: 27px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    /* gray/700 */  
    color: #000000;
    cursor: pointer;
    transition: background-color 0.4s linear, color 0.4s linear;
}
.email:hover{
    background-color: #000000;
    color: #fff;
}
.buttons > button:active, .icons > button:active{
    transform: scale(0.97);
}
.buttons > button:focus, .icons > button:focus{
    outline: none;
}
.linkedin{
    display: flex;
    border: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    color: #FFFFFF;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 13px 9px 11px;
    gap: 8px;
    width: 115px;
    height: 34px;
    background: #5093E2;
    /* shadow/sm */
    box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    transition: background-color 0.4s linear, color 0.4s linear;
    cursor: pointer;
}
.linkedin:hover{
    color: #5093E2;
    background-color: #fff;
}
.buttons{
    margin-top: 10px;
    display: flex;
}
.about{
    width: 247px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* height: 101px; */
}
.about--title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    margin-right: auto;
    margin-bottom: 0;
    color: #F5F5F5;
}
.about--text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */
    margin-bottom: 0;

    color: #DCDCDC;
}
.interests{
    width: 247px;
}
.interests--title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0;
    /* or 24px */


    color: #F5F5F5;
}
.interests--text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */
    color: #DCDCDC;
    margin-top: 0; 
}
.icons{
    height: 64px;
    /* left: 116px;*/
    top: 720px; 
    width: 317px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 15px; 
    background: #161619;
    border-radius: 0px 0px 10px 10px;
}
.twitter{
    transition: color 0.6s ease;
    cursor: pointer;
    color: #fff;
}
.twitter:hover{
    color: #00acee;
}
.facebook{
    transition: color 0.6s ease;
    cursor: pointer;
}
.facebook:hover{
    color: 	#4267B2;
}
.instagram{
    transition: color 0.6s ease;
    cursor: pointer;
    color: #fff;
}
.instagram:hover{
    color: #8a3ab9;
}
.reddit{
    transition: color 0.6s ease;
    color: #fff;
    cursor: pointer;
}
.reddit:hover{
    color: #FF4500;
}
.icons > button{
    width: 25px;
    height: 25px;
    background: none;
    border: 0;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 15px;
}
.mid{
    width: 317px;
    height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1A1B21;
    margin-bottom: 23px;
}

@media screen and (max-height: 900px) {
    body{
        overflow: scroll;
    }
    main{
        top: 150px;
        left: 50%;
        transform: translateX(-50%);
        height: 399px;
        position: absolute;
    }
    .my-face/*, .mid*/{
        width: 290px;
        height: 290px;
    }
    .mid{
        height: 400px;
        width: 290px;
        /* top: 350px; */
        margin-top: 0;
        /* left: 50%; */
        /* transform: translateX(-50%); */
    }
    .about, .interests{
        width: 250px;
    }
    .name{
        margin-top: 5px;
        margin-bottom: 2px;
        font-size: 20px;
    }
    .container--position{
        margin-top: 0;
    }
    .email, .linkedin{
        width: 110px;
        font-size: 14px;
    }
    .icons{
        top: 499px;
        width: 290px;
        height: 48px;
    }
}